body {
    background-color: #EAF5ED;
    font-family: 'Inclusive Sans', sans-serif;
    margin: 0;
    text-align: center;
}

header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #283618;
    margin-bottom: 30px;
}
.estabelecimento {
    font-size: 50px;
    color: #BC6C25;
}

.slogan {
    color: #DDA15E;
    font-size: 1.2rem;
}

.titulo {
    text-transform: uppercase;
    color: #283618;
}

.produtos {
    width: 80%;
    margin: 0 auto;
}

.produto {
    background-color: #FEFAE0;
    display: flex;
    border-radius: 50px;
    margin-bottom: 1rem;
}

.produto img {
    border-radius: 50px;
    max-width: 400px;
}

.descricao {
    padding: 2rem;
}

.descricao-prato {
    color: #283618;
}

.cima {
    display: flex;
    justify-content: space-between;
}

.preco {
    color: #606C38;
}


.localizacao {
    background-color: #283618;
    color: #DDA15E;
    padding: 50px 0px;
    margin-top: 40px;
}


@media (max-width:800px) {
    iframe {
        width: 450px;
    }
}

@media (max-width: 500px) {

    .produto {
        flex-direction: column;
    }

    iframe {
        display: none;
    }


}